/* ==================================================================================================================
    ------------------------------------------------- ANUNCIO SIEMPRE -------------------------------------------------
================================================================================================================== */

.anuncioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

