/* ==================================================================================================================
    ------------------------------------------------- EDITAR ANUNCIO SIEMPRE -------------------------------------------------
================================================================================================================== */

.editarAnuncioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

