@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

body {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

header {
    display: flex;
    width: 100%;
    min-width: 300px; 
    justify-content: space-between;
    padding: 2em;

    /* sombra solo abajo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.headerTitulo {
    display: flex;
    align-items: center;
    gap: 0.5em;  
}

.headerLogotipo{
    width: 4em;
}

.headerTitulo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.headerTitulo h1 {
    font-size: 1.5em;
    color: #1156CC;
}

.headerTitulo img{
    width: 4em;
}

.headerBotones {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.headerBoton {
    background-color: #1156CC;
    color: white;
    padding: 0.75em 1.25em;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerBoton:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}

.headerIcono {
    display: flex;
    align-items:center;
    color: #1156CC;
    gap: 0.5em;
}

.headerIcono:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}


.nombres {
    display: flex;
    flex-direction: column;
    align-items: bottom;
}

.tipo {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #1156CC;
    padding: 0.25em 0em;
}

.headerIcono span {
    font-size: 1.2em;
    border-bottom: 1px solid #1156CC;
    font-weight: bold;
}


.headerMenu {
  position: relative; /* necesario para que el menú se posicione relativo a este contenedor */
}

.headerDesplegable {
  position: absolute;
  top: 100%; /* justo debajo del icono */
  right: 0;  /* alinea el borde derecho con el icono */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: none; /* oculto por defecto */
  flex-direction: column;
  padding: 8px 0;
  min-width: max-content; /* el ancho se ajusta al contenido */
  z-index: 100;
}

.headerDesplegable a {
  color: #1156CC;
  text-decoration: none;
  padding: 10px 16px;
  white-space: nowrap; /* evita que el texto se parta en varias líneas */
  font-weight: bold;
}

.headerDesplegable a:hover {
  background-color: #f3f3f3;
}

.headerDesplegable.show {
  display: flex;
}




.modal span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1em;
    padding-top: 1em;
}

/* Título del modal */
.modalTitulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTitulo h1 {
    color: #1156CC;
    font-size: 1.5em;
}

.modalTitulo img {
    width: 3em;
}

/* Overlay / fondo opaco */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    justify-content: center;
    align-items: flex-start; /* borde superior alineado */
    padding-top: 5%; /* espacio desde el top de la ventana */
}

/* Modal centrado */
.modal {
    background-color: white;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Cabecera con logo */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modal-close {
    cursor: pointer;
    font-size: 22px;
}

/* Pestañas */
.modal-tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    /*border-bottom: 1px solid #ddd;*/
}

.modal-tabs span {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 2px solid #ccc;
    color: #ccc;
    width: auto;
}

.modal-tabs span.active {
    border-bottom: 2px solid #1156CC;
    color: #1156CC;
}

/* Body de modal */
.modal-body {
    padding: 20px;
    min-height: 200px;
}

/* Formularios en columna */
.modal-form, .formRegister {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    align-items: center;
}

/* Formularios visibles / ocultos */
.modal-form.hidden {
    display: none;
}

.modal-form.visible {
    display: flex;
}

/* Inputs y botón */
.modal-form input,
.formRegister input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1156CC;
    font-size: 14px;
    width: 100%;
}

.modal-form button,
.formRegister button {
    padding: 10px;
    border: 2px solid #ccc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #1156CC;
}

.modal-form div {
    width: 100%;
}

.modal-form div label {
    color: #1156CC;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-form input:focus,
.formRegister input:focus {
    outline: none; /* quita el borde negro del navegador */
    border: 2px solid #1156CC; /* azul, 1px más grueso que el normal */
}

.formRegister button:hover {
    background-color: #0d3d99;
}

/* Bloque de elección comprador/vendedor */
.register-choice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.register-choice p {
    text-align: center;
    color: #1156CC;
}

.loginError {
    color: red; 
    margin-bottom: 10px;
}

.choice-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.choice-buttons button.active {
    border: 2px solid #1156CC;
    color: #1156CC;
}
.choice-buttons button {
    color: #ccc;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
}
.choice-buttons button:hover {
    color: #1156CC;
}


/* Animación fadeIn */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

/* Ocultar elementos por defecto */
.hidden {
    display: none;
}

/* ---- Tablets grandes y laptops pequeñas ---- */
@media (max-width: 1024px) {

}

/* ---- Tablets verticales ---- */
@media (max-width: 768px) {

}

/* ---- Móviles ---- */
@media (max-width: 480px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .headerBotones{
    width: 100%;
    justify-content: right;
  }

  .headerBoton {
    font-size: 0.8em;
  }

  .headerIcono span {
    font-size: 0.8em;
  }

    .headerIcono p {
    font-size: 0.8em;
  }

  .headerIcono svg{
    width: 2em;
  }
}