/* ==================================================================================================================
    ------------------------------------------------- INICIO SIEMPRE -------------------------------------------------
================================================================================================================== */

.inicioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 64vh;
}

.inicioBusqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.inicioBuscar {
    display: flex;
    justify-content: right;
    border: 1px solid #1156CC;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.inicioBotonBuscar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1156CC;
    padding: 0.5em;
    border-radius: 10px;
}

.inicioCategorias {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.inicioCategorias img {
    width: 2em;
}
