/* ==================================================================================================================
    ------------------------------------------------- MIS ANUNCIOS SIEMPRE -------------------------------------------------
================================================================================================================== */

.misAnunciosMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

