/* ==================================================================================================================
    ------------------------------------------------- CREAR GESTOR SIEMPRE -------------------------------------------------
================================================================================================================== */

.usuariosMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

